@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Byte Forum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</head>
<body>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4"><strong>Welcome to Byte Forum</strong></h1>
            <p class="lead">Get answers to your programming questions, collaborate, and share knowledge with a diverse community of developers.</p>
            <hr class="my-4">
            <p>Start by searching for a question or ask a new one to get help from the community.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Ask a Question</a>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h2>Recent Questions</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">How to use Bootstrap in ASP.NET Core?</h5>
                            <small>3 mins ago</small>
                        </div>
                        <p class="mb-1">I'm having trouble integrating Bootstrap with my ASP.NET Core project. Can anyone help?</p>
                        <small>Tags: bootstrap asp.net-core</small>
                    </a>
                    <!-- More question items can be added here -->
                </div>
            </div>
            <div class="col-md-4">
                <h2>Top Tags</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">c#</a>
                    <a href="#" class="list-group-item list-group-item-action">javascript</a>
                    <a href="#" class="list-group-item list-group-item-action">java</a>
                    <a href="#" class="list-group-item list-group-item-action">python</a>
                    <a href="#" class="list-group-item list-group-item-action">html</a>
                    <!-- More tags can be added here -->
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
